main{
  padding:10px;
}

main .mdl-card{
  width:auto;
  height:auto;
  min-height:auto;
  margin-bottom:10px;
}

span.badge {
    font-size:0.9em;
    color: #fff;
    background-color: #4285F4;
    border-radius: 0.2em;
    padding:0.1em 0.6em;
    margin-left:10px;
    font-weight: bold;
}

.statusText{
  font-size:0.8em;
  color: #767676;
  margin-top:-0.1em;
  padding-right: 1em;
}

.issueHeading{
  cursor:pointer;
}

.issueHeading .headingText{
  color: rgba(0,0,0,.54);
  font-weight: 500;
  text-transform: uppercase;
  font-size:1em;
  margin:0px;
  padding:0px;
  display:inline;
}

.issueDetails{
  display:none;
}

.cardVisible .issueHeading heading{
  font-size:1.2em;
}

#login-buttons a{
  color:white;
  font-weight:bold;
}
